h2{
    color:red;
}
#returnhome{
    color:white;
}

.btn{
    font-family: 'Roboto', sans-serif;
    font-size: min(13px, 1.8vw);
}

.oopsie {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: min(100px, 10vw);
    color: rgb(137, 42, 4);
}

.wecant {
    font-family: 'Roboto', sans-serif;
    font-size: min(20px, 2.5vw);
}

.error404 {
    font-family: 'Open Sans Condensed';
    color: rgb(186, 85, 38);
    font-size: min(15px,1.8vw);
    font-weight: 600;
}

.caterror {
    width: min(40vw,330px);
}