<body class="text-center">
    <hr>
    <h1 class="oopsie"> Oops! </h1>
    <hr>
    <h4 class="wecant">We can't seem to find the page you're looking for.</h4>
    <h5 class="error404">Error code: 404</h5>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRplDD4FBMJn89EAIaPzqOcBnnFQ-CRxdDoag&usqp=CAU" class="caterror">
   <!-- <img src="https://www.pngix.com/pngfile/middle/634-6341998_bliss-cii-sad-panda-png-download-transparent-png.png"> -->
   <div class="errorimage"></div>

   <br>
  
   <button type = "button" class= "btn btn-warning" routerLink="" id="returnhome"> Return to Home </button>
</body>
